<section class="nav-bar-container">
    <div class="joao-container">
        <h1>João</h1>
        <h1>Jacinto</h1>
        <p>Desenvolvedor Front-end com experiência em JavaScript e Frameworks como Angular e React. Técnico em Redes de Computadores, João gosta de diversas áreas da Tecnologia, podendo se adaptar a qualquer Linguagem ou Framework.</p>
    </div>
    <div class="menu-container">
        <a href="">Home</a>
        <a href="">Quem sou?</a>
        <a href="">Projetos e Artigos</a>
    </div>
    <div class="social-media">
    </div>
</section>